# configuration file for package jmxtrans
export JAR_FILE="/usr/lib/jmxtrans/jmxtrans-1.0.0-all.jar"
export LOG_DIR="/var/log/jmxtrans"
export SECONDS_BETWEEN_RUNS=60
export JSON_DIR="/etc/jmxtrans/config.dist"
export HEAP_SIZE=512
export NEW_SIZE=64
export CPU_CORES=2
export NEW_RATIO=8
export LOG_LEVEL=debug
export PIDFILE=/var/run/jmxtrans.pid

JMXTRANS_OPTS="-DjmxPort={{ jmxPort }} -DgmondServer={{ gmondServer }} -DgmondPort={{ gmondPort }} -Dhostname={{ hostname }}"
