{
"servers" : [ {
"port" : "{{ supervisorjmxPort }}",
"host" : "{{ hostname }}",
"queries" : [ {
"outputWriters": [{
"@class":"com.googlecode.jmxtrans.model.output.GangliaWriter",
"settings": {
"groupName": "supervisor",
"host": "{{ gmondServer }}",
"port": "{{ supervisorGmondPort }}" }
}],
"obj": "java.lang:type=Memory",
"resultAlias": "supervisor",
"attr": ["ObjectPendingFinalizationCount"]
},
{
"outputWriters": [{
"@class":"com.googlecode.jmxtrans.model.output.GangliaWriter",
"settings": {
"groupName": "supervisor",
"host": "{{ gmondServer }}",
"port": "{{ supervisorGmondPort }}"
}
}],
"obj": "java.lang:name=Copy,type=GarbageCollector",
"resultAlias": "supervisor",
"attr": [
"CollectionCount",
"CollectionTime"
]
},
{
"outputWriters": [{
"@class": "com.googlecode.jmxtrans.model.output.GangliaWriter",
"settings": {
"groupName": "supervisor",
"host": "{{ gmondServer }}",
"port": "{{ supervisorGmondPort }}"
}
}],
"obj": "java.lang:name=Code Cache,type=MemoryPool",
"resultAlias": "supervisor",
"attr": [
"CollectionUsageThreshold",
"CollectionUsageThresholdCount",
"UsageThreshold",
"UsageThresholdCount"
]
},
{
"outputWriters": [{
"@class": "com.googlecode.jmxtrans.model.output.GangliaWriter",
"settings": {
"groupName": "supervisor",
"host": "{{ gmondServer }}",
"port": "{{ supervisorGmondPort }}"
}
}],
"obj": "java.lang:type=Runtime",
"resultAlias": "supervisor",
"attr": [
"StartTime",
"Uptime"
]
}],
"numQueryThreads" : 2
}]
}
