{% if has_namenodes %}
define service{
        use                             generic-service
        hostgroup_name                  namenodes
        service_description             check hdfs general status
        servicegroups                   batch,hdfs
        check_command                   check_nrpe!check_hdfs
        }
{% endif %}

{% if has_journalnodes %}
define service{
        use                             generic-service
        hostgroup_name                  journalnodes
        service_description             check hdfs qjm status
        servicegroups                   batch,hdfs
        check_command                   check_nrpe!check_qjm
        }
{% endif %}

{% if has_namenodes %}
define service{
        use                             generic-service
        hostgroup_name                  namenodes
        service_description             check httpfs status
        servicegroups                   batch,hdfs
        check_command                   check_nrpe!check_httpfs_tmp_nn1
        }
{% endif %}

{% if has_resourcemanager %}
define service{
        use                             generic-service
        hostgroup_name                  resourcemanager
        service_description             check yarn status
        servicegroups                   batch,batch_processing
        check_command                   check_nrpe!check_yarn
        }
{% endif %}

{% if has_hbase %}
define service{
        use                             generic-service
        hostgroup_name                  hbasemasters
        service_description             check hbase status
        servicegroups                   serving
        check_command                   check_nrpe!check_hbase
}
{% endif %}

{% if has_elasticsearch %}
define service{
	use				generic-service
	hostgroup_name			esservers
	service_description		check elasticsearch status
	servicegroups			serving
	check_command			check_nrpe!check_elasticsearch
}
{% endif %}

{% if has_historyserver %}
define service{
        use                             generic-service
        hostgroup_name                  historyservers
        service_description             check historyserver status
        servicegroups                   batch,batch_processing
        check_command                   check_nrpe!check_historyserver
}
{% endif %}

{% if has_storm %}
define service{
        use                             generic-service
        hostgroup_name                  nimbusservers     
        service_description             check storm bolts load
        servicegroups                   speed
        check_command                   check_nrpe!check_storm
        }
{% endif %}

{% if has_kafka %}
define service{
        use                             generic-service
        hostgroup_name                  kafkaservers
        service_description             check kafka topic TOPIC
        servicegroups                   bus
        check_command                   check_nrpe!check_kafka_topic_test
        }
{% endif %}

{% if has_zookeeper %}
define service{
        use                             generic-service
        hostgroup_name                  zookeeperservers     
        service_description             check zookeeper servers status
        servicegroups                   bus,batch,hdfs,batch_processing,serving
        check_command                   check_nrpe!check_zookeeper
}

{% if has_namenodes %}
{% if has_namenodes and dfs_ha_enabled %}
define service{
        use                             generic-service
        hostgroup_name                  zookeeperservers
        service_description             check hdfs znodes
        servicegroups                   batch,hdfs
        check_command                   check_nrpe!check_hdfs_znode
}
{% endif %}
{% endif %}

{% if has_hbase %}
define service{
        use                             generic-service
        hostgroup_name                  zookeeperservers
        service_description             check hbase znodes
        servicegroups                   serving
        check_command                   check_nrpe!check_hbase_znode
}
{% endif %}

{% if has_kafka %}
define service{
        use                             generic-service
        hostgroup_name                  zookeeperservers
        service_description             check kafka znodes
        servicegroups                   bus
        check_command                   check_nrpe!check_kafka_znode
}
{% endif %}
{% endif %}

{% if has_oozie %}
define service{
        use                             generic-service
        hostgroup_name                  oozieservers
        service_description             check oozie
        servicegroups                   batch
        check_command                   check_nrpe!check_oozie
}
{% endif %}

define service{
	use				generic-service
	hostgroup_name			commons
	service_description		PING
	servicegroups			so_status
	check_command			check_ping!100.0,20%!500.0,60%
}

define service{
        use generic-service
        hostgroup_name commons
        service_description check chrony sync
        check_command check_nrpe!check_chrony
        servicegroups so_status
}

define service{
        use generic-service
        hostgroup_name commons
        service_description swap status
        check_command check_nrpe!check_swap
        servicegroups so_status
}

{% if has_namenodes or has_datanodes %}
define service{
	use				generic-service
	hostgroup_name			namenodes,datanodes
	service_description		PING NN1
	servicegroups			batch,hdfs
	check_command			check_nrpe!check_ping_nn1
}
{% endif %}
{% if has_namenodes or has_datanodes %}
{% if  dfs_ha_enabled %}
define service{
        use                             generic-service
        hostgroup_name                  namenodes,datanodes
        service_description		PING NN2
	servicegroups			batch,hdfs
        check_command                   check_nrpe!check_ping_nn2
}

define service{
        use                             generic-service
        hostgroup_name                  namenodes
        service_description		PING QJM1
	servicegroups			batch,hdfs
        check_command                   check_nrpe!check_ping_qjm1
}

define service{
        use                             generic-service
        hostgroup_name                  namenodes
        service_description             PING QJM2
	servicegroups			batch,hdfs
        check_command                   check_nrpe!check_ping_qjm2
}

define service{
        use                             generic-service
        hostgroup_name                  namenodes
        service_description             PING QJM3
	servicegroups			batch,hdfs
        check_command                   check_nrpe!check_ping_qjm3
}

define service{
        use                             generic-service
        hostgroup_name                  namenodes
        service_description             check httpfs status
        servicegroups                   batch,hdfs
        check_command                   check_nrpe!check_httpfs_tmp_nn2
        }
{% endif %}
{% endif %}
define service{
        use                             generic-service
        hostgroup_name                  commons
        service_description             Logged users
        servicegroups                   so_status
        check_command                   check_nrpe!check_users
}

define service{
        use                             generic-service
        hostgroup_name                  commons
        service_description             system load
        servicegroups                   so_status
        check_command                   check_nrpe!check_load
}

{% if has_namenodes %}
{% for path in data_path_nn %}
define service{
        use                             generic-service
        hostgroup_name                  namenodes,datanodes
        service_description             disk usage
	servicegroups			batch,hdfs,so_status
        check_command                   check_nrpe!check_disk_nn{{loop.index}}
}
{% endfor %}
{% endif %}

{% if has_datanodes %}
{% for path in data_path_dn %}
define service{
        use                             generic-service
        hostgroup_name                  datanodes
        service_description             disk usage
	servicegroups			batch,hdfs,so_status
        check_command                   check_nrpe!check_disk_dn{{loop.index}}
}
{% endfor %}
{% endif %}
{% for m in mountpoints %}
define service{
        use                             generic-service
        hostgroup_name                  commons
        service_description             {{ str(m) }} disk usage
        servicegroups                   so_status
        check_command                   check_nrpe!check_{{ str(m)}}
}


{% endfor %}
