###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################
{% for host in host_list.keys() %}
define host{
        use                     linux-server
        host_name               {{ host }}
        alias                   {{ host }}
        address                 {{ host_list[host]['ip'] }}
	hostgroups		{{ host_list[host]['groups'] }}
        }
{% endfor %}
